
body{
  margin:0;
  padding: 0;
}

.logo{
  font-size: 36px;
  color: #fff;
}
.Navbar{
  background-color: #F05A22;
   display: flex;
}

.menue{
  background-color: #ffffff;
   border: none;
   border-radius:14px;
   margin:8px;
   /* justify-self: center; */
   display: flex;
   justify-content: center;
   align-items: center;
    width: 325px;
    margin-left: 28%;
}

.menue ul {
  display: flex;
flex-direction: row;

  gap:1.5rem;
}

.menue ul>li{
  list-style: none;

}

.menue ul>li>i{
 
}

.menue ul>li :hover{
  color: #ff7b00;
  scale: 1.2;
}
